<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/myPage.css"/>
    <link rel="stylesheet" href="/css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <title>관리자</title>

    <style>
        @font-face {
            font-family: 'contentFont'; /* 폰트 이름 지정 */
            src: url('/fonts/BMDOHYEON.ttf') format('truetype'); /* 경로와 파일 형식 */
        }

        .title-box {
            font-family: 'contentFont', serif;
        }

        .navbar {
            font-family: 'contentFont', serif;
        }

        .item-list {
            font-family: 'contentFont', serif;
        }
    </style>
</head>
<body>
{{>layout/header}}
<div class="container d-flex mt-5">
    {{>layout/admin-page-menu}}
    <div class="box">
        <div class="title-box">
            <h2>경매종료 내역</h2>
        </div>

        <div class="navbar navbar-expand-sm">
            <div style="width: 400px;">
                <select class="form-select" id="searchType">
                    <option value="title">제목으로 검색</option>
                    <option value="buyer">입찰자명으로 검색</option>
                    <option value="seller">판매자명으로 검색</option>
                </select>
            </div>
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar" style="width: 400px;">
                    <form class="d-flex" onsubmit="handleSearch(event)">
                        <input class="form-control me-2" type="text" id="searchInput" placeholder="Search"
                               style="width: 460px;">
                        <button class="btn btn-custom" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="item-list mt-5">
            <table class="table">
                <thead>
                <tr>
                    <th>제목</th>
                    <th>판매자</th>
                    <th>구매자</th>
                    <th>최종 낙찰가</th>
                    <th>마지막 수정일</th>
                    <th>판매자 거래확정</th>
                    <th>구매자 거래확정</th>

                </tr>
                </thead>

                <tbody>
                {{#model}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{sellerName}}</td>
                        <td>{{buyerName}}</td>
                        <td>{{success_price}}</td>
                        <td>{{update_at}}</td>
                        <td>{{sellerStatus}}</td>
                        <td>{{buyerStatus}}</td>
                    </tr>
                {{/model}}
                </tbody>
            </table>
        </div>
        {{>layout/paging}}
    </div>
</div>
{{>layout/footer}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var divide = "{{divide}}";
        var search = "{{search}}";
        var searchType = document.getElementById('searchType');
        var searchInput = document.getElementById('searchInput');
        if (divide) {
            for (var i = 0; i < searchType.options.length; i++) {
                if (searchType.options[i].value === divide) {
                    searchType.options[i].selected = true;
                    break;
                }
            }
        }
        if (search) {
            searchInput.value = search;
        }
    });

    function handleSearch(event) {
        event.preventDefault();

        const searchType = document.getElementById('searchType').value;
        const searchInput = document.getElementById('searchInput').value;

        window.location.href = `/admin/auction-complete?divide=${searchType}&search=${searchInput}`;
    }

    function changePage(pageNumber) {
        const searchType = document.getElementById('searchType').value;
        const searchInput = document.getElementById('searchInput').value;

        window.location.href = `/admin/auction-complete?divide=${searchType}&search=${searchInput}&page=${pageNumber}`;
    }
</script>
</body>
</html>
