<link rel="stylesheet" type="text/css" href="/css/footer.css">

<footer class="t1-footer text-center">
    <div class="t1-footer-container">
        <p>Project Name : JeSiYo 중고 경매 Web Project </p><p>여기 쓸 말 추천좀요 ㅋㅋ</p> <p>전화번호: 010-1234-5678</p>
    </div>
</footer>