<link rel="stylesheet" type="text/css" href="/css/footer.css">
<style>
    @font-face {
        font-family: 'contentFont'; /* 폰트 이름 지정 */
        src: url('/fonts/BMDOHYEON.ttf') format('truetype'); /* 경로와 파일 형식 */
    }

    .t1-footer {
        font-family: 'contentFont', serif;
    }
</style>

<footer class="t1-footer text-center">
    <div class="t1-footer-container">
        <p>Project Name : JeSiYo 중고 경매 Web Project </p><p>사업자 등록번호: 123-45-67890</p> <p>이메일: support@jesiyo.com</p><p>전화번호: 010-1234-5678</p>
    </div>
</footer>