 <header style="margin-bottom: 0">
        <div class="d-flex justify-content-between align-items-center">

            <!-- 왼쪽 공백 영역 -->
            <div class="t1-empty-space flex-equal"></div>

            <!-- 로고와 제목 -->
            <div class="t1-logoAndTitle flex-equal d-flex align-items-center ms-5">
                <div class="t1-logo">
                    <a href="/">
                        <img src="/upload/mainlogo.jpg" alt="로고 이미지" class="logo-img">
                    </a>
                </div>
                <div class="t1-title">
                    <h1><a href="/" style="font-size: 1.5em; color: #f96506">제시요</a></h1>
                </div>
            </div>

            <!-- 로그인, 회원가입, 로그아웃, 마이페이지 -->
            <div class="t1-auth-links flex-equal d-flex justify-content-end me-5">
                <!-- 로그인 안 했을 때 -->
                <a href="/login-form">로그인</a>
                <a href="#">회원가입</a>

                <!-- 로그인 했을 때 -->
                <!-- <a href="#">로그아웃</a> -->
                <!-- <a href="#">마이페이지</a> -->
            </div>
        </div>


        <!-- 검색 카테고리와 검색 바 -->
        <div class="t1-search-container d-flex justify-content-center align-items-center">
            <!-- 카테고리 선택 드롭다운 -->
            <!-- 검색어 입력 폼 -->
            <form class="d-flex" action="/goods-list" method="get">
                <select class="form-select" name = "select">
                    <option name = "title" value="title">제목검색</option>
                    <option name = "content" value="content">내용검색</option>
                </select>
                <input class="form-control search-input me-2" type="text" name = "keyword" placeholder="검색어를 입력해주세요">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>

    </header>
 <script type="text/javascript" src="/js/header.js"></script>
