<nav class="my-nav me-4" style="width: 25%">
    <h2>마이룸</h2>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">내 정보</a>
            <ul class="nav-sub-item">
                <li>
                    <a href="/s/user-info/">내 정보 확인</a>
                </li>
                <li>
                    <a href="/s/user-info/change-form">회원정보 변경</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/s/mypage-being-auctioned">판매 관련</a>
            <ul class="nav-sub-item">
                <li>
                    <a href="/s/mypage-goods-register">물품 등록하기</a>
                </li>
                <li>
                    <a href="/s/mypage-being-auctioned">경매중인 물품</a>
                </li>
                <li>
                    <a href="/s/mypage-complete-auction">낙찰된 물품(판매)</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/s/mypage-participating-auction">구매 관련</a>
            <ul class="nav-sub-item">
                <li>
                    <a href="/s/mypage-participating-auction">경매 참여중인 물품</a>
                </li>
                <li>
                    <a href="/s/mypage-participated-auction">낙찰된 물품(구매)</a>
                </li>
                <li>
                    <a href="/s/mypage-participate-fail">입찰 실패 물품 목록</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>