<nav class="my-nav me-4" style="width: 250px">
    <h2>마이룸</h2>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">내 정보</a>
            <ul class="nav-sub-item">
                <li>
                    <a href="">내 정보 확인</a>
                </li>
                <li>
                    <a href="">회원정보 변경</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="beingAuctioned.html">판매 관련</a>
            <ul class="nav-sub-item">
                <li>
                    <a href="">물품 등록하기</a>
                </li>
                <li>
                    <a href="beingAuctioned.html">경매중인 물품</a>
                </li>
                <li>
                    <a href="completeAuction.html">낙찰된 물품(판매)</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="participatingAuction.html">구매 관련</a>
            <ul class="nav-sub-item">
                <li>
                    <a href="participatingAuction.html">경매 참여중인 물품</a>
                </li>
                <li>
                    <a href="participatedAuction.html">낙찰된 물품(구매)</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>