.category-list {
    max-height: 400px; /* 스크롤 가능한 최대 높이 설정 */
    overflow-y: auto; /* 수직 스크롤 가능하게 설정 */
}

.category-d {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.category-img img {
    width: 50px;
    height: 50px;
}

.category-name {
    margin-left: 10px;
}

@font-face {
    font-family: 'contentFont'; /* 폰트 이름 지정 */
    src: url('/fonts/BMDOHYEON.ttf') format('truetype'); /* 경로와 파일 형식 */
}

body {
    font-family: 'contentFont', Arial, sans-serif; /* 기본 폰트로 설정 */
}