.t1-footer {
    background-color: #f96506;
    color: black;
    position: relative;
    width: 100%;
    margin-top: 250px;
    margin-bottom: 0;
}
.t1-footer-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 50px;

}
.t1-footer-container p {
    margin-top: 15px;
}

@font-face {
    font-family: 'contentFont'; /* 폰트 이름 지정 */
    src: url('/fonts/BMDOHYEON.ttf') format('truetype'); /* 경로와 파일 형식 */
}

body {
    font-family: 'contentFont', Arial, sans-serif; /* 기본 폰트로 설정 */
}