.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
}

.right {
    border: 2px solid #ddd; /* 모서리 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    padding: 10px;
}

.goods__detail__img {
    width: 100%; /* 카드 너비에 맞게 이미지 채우기 */
    height: 100%; /* 고정된 높이 설정 */
    object-fit: cover; /* 이미지 비율을 유지하며 잘라내기 */
    border-radius: 8px;
}

.now__charge {
    width: 50%;
    height: 50px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: #ff0000; /* 연한 빨간색 */
    animation: blink 1s infinite; /* 1초 간격으로 깜빡임 */
}

.start__charge {
    width: 50%;
    height: 50px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(255, 196, 0); /* 연한 초록색 */
}

/* 깜빡이는 애니메이션 정의 */
@keyframes blink {
    0% {
        background-color: #ff0000; /* 연한 빨간색 */
    }
    50% {
        background-color: #ff6666; /* 더 연한 빨간색 */
    }
    100% {
        background-color: #ff0000; /* 원래 색으로 복귀 */
    }
}

