.container{
    display: flex;
}
.container2{
    display: flex;
    border: 5px solid #f96506;
}

.t1-btn-container {
    display: flex;
    /*margin-top: 20px;*/
    justify-content: space-between;
}

.t1-btn-container button:not(.btn-close) {
    width: 250px;
    height: 40px;
    border-color: #f96506;
}

.t1-no-border {
    border: none !important;
}

.t1-main-container {
    border: 1px solid #ddd; /* 모서리 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */

}

.modal{
    button:not(.btn-close){
        background-color: #f96506;
        width:100%;
    }
    a {
        width:200px;
    }
}

#btn-con{
    justify-content: center;
}
#modal-btn{
    text-align: center;
    .t1-btn{
        margin: 20px 9px 0 9px;
    }
}

.thermometer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.thermometer {
    width: 40px;
    height: 200px;
    border: 3px solid #ccc;
    border-radius: 20px;
    background: linear-gradient(to top, #e0f7fa, white);
    overflow: hidden;
    position: relative;
}

.thermometer-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%; /* 초기 값: 0% */
    background-color: #f96506;
    transition: height 1s ease; /* 자연스러운 애니메이션 */
}

.temperature-label {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
