.container{
    display: flex;
}
.container2{
    display: flex;
    border: 5px solid #f96506;
}

.image-container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 20%; /* 전체 화면 높이 */
}

.image-container img{
    height: 100px; /* 전체 화면 높이 */
}

.t1-btn-container {
    display: flex; 
    margin-top: 20px; 
    justify-content: space-between;
}

.t1-btn-container button {
    width: 250px;
    height: 40px;
    border-color: #f96506;
}

.t1-no-border { 
    border: none !important; 
}

.t1-main-container {
    border: 1px solid #ddd; /* 모서리 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */

}



