<!DOCTYPE html>
<html lang="en">
<head>
    <title>Header</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" href="/css/myPage.css">
</head>
<body>

{{>layout/header}}
<div class="container d-flex mt-5">
    {{>layout/mypage-menu}}
    <div class="box">
        <div class="title-box">
            <h2>낙찰된 물품(판매)</h2>
        </div>
        <div class="item-list mt-5">

            {{#models}}
                <div class="card mb-3">
                    <div class="card-image" style="margin-top: 10px">
                        <img src="{{goodsImgUrl}}" class="card-img-top"/>
                    </div>
                    <div class="card-body mt-2">
                        <h4 class="card-title">{{title}}</h4>
                        <div class="card-text mt-2">
                            <input type="hidden" name="id" id="{{id}}">
                            <div>카테고리 : {{categoryName}}</div>
                            <div>낙찰 일시 : {{updatedAt}}</div>
                            <div>낙찰가 : {{successPrice}}원</div>
                            <div>구매자 주소 : {{buyerAddress}}</div>
                            <div>송장번호 : {{deliveryNum}}</div>
                            {{#auctionSuccess}}
                                최종 거래가 완료 되었습니다
                            {{/auctionSuccess}}
                            {{^auctionSuccess}}
                                {{#depositMoneyToSeller}}
                                    관리자에 의해 판매자에게 입찰금이 전달되었습니다
                                {{/depositMoneyToSeller}}
                                {{^depositMoneyToSeller}}
                                    {{#auctionCancel}}
                                        관리자에 의해 경매가 취소되었습니다
                                    {{/auctionCancel}}
                                    {{^auctionCancel}}
                                        {{#reporting}}
                                            신고가 접수되어 처리 중 입니다
                                        {{/reporting}}
                                        {{^reporting}}
                                            <div>
                                                {{#buyerStatus}} <!-- buyerStatus = true일때 -->
                                                    구매 확정됨
                                                {{/buyerStatus}}
                                                {{^buyerStatus}} <!-- buyerStatus = false일때 -->
                                                    구매 확정 대기중
                                                {{/buyerStatus}}
                                            </div>
                                            <div>
                                                {{#transactionStatus}} <!-- transactionStatus = true일때만 판매 취소 문구가 보이도록 -->
                                                    판매 취소됨
                                                {{/transactionStatus}}
                                            </div>
                                            <div class="btn-group mt-1">
                                                {{^transactionStatus}}
                                                    <button type="button" class="btn btn-custom btn-sm"
                                                            onclick="addNumber({{id}})"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#deliveryNumberModal">
                                                        송장번호등록
                                                    </button>
                                                    {{^sellerStatus}} <!-- sellerStatus = false일때만 판매 확정 버튼이 보이도록 -->
                                                        <button type="button" class="btn btn-custom btn-sm" onclick="confirmSale({{id}})">판매 확정</button>
                                                    {{/sellerStatus}}
                                                    <button type="button" class="btn btn-custom btn-sm" onclick="cancelSale({{id}})">판매 취소</button>
                                                    <button type="button" class="btn btn-custom btn-sm"
                                                            onclick="reportBuyer({{id}})"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#myModal">
                                                        구매자신고
                                                    </button>
                                                {{/transactionStatus}}
                                            </div>
                                        {{/reporting}}
                                    {{/auctionCancel}}
                                {{/depositMoneyToSeller}}
                            {{/auctionSuccess}}
                        </div>
                    </div>
                </div>
            {{/models}}
            {{>layout/paging}}
        </div>
    </div>
</div>

<!-- 송장번호 등록 모달창 -->
<div class="modal fade" id="deliveryNumberModal" tabindex="-1" aria-labelledby="deliveryNumberModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deliveryNumberModalLabel">송장번호등록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/s/deliveryNumber/update" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="deliveryNumber" class="form-label">송장번호</label>
                        <input type="number" class="form-control" id="deliveryNumber" name="deliveryNumber"
                               placeholder="-없이 숫자만 입력하세요" required>
                    </div>
                    <!-- 숨겨진 필드에 transactionId 설정 -->
                    <input type="hidden" id="hiddenId" name="transactionId">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">등록</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 신고하기 모달창 -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content" style="padding: 20px">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">신고하기</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
<!--            <form action="/s/report-buyer" method="post">-->
                <input type="text" class="modal-body" id="reportContent" name="reportContent"
                       placeholder="신고내용을 작성해주세요." style="resize: none;" required>
                <!-- 숨겨진 필드에 buyerId 설정 -->
                <input type="hidden" id="reportBuyerId" name="buyerId">

                <!-- Modal footer -->
                <div class="modal-footer" style="margin-top: 30px">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" onclick="report_buyer()">신고하기</button>
                </div>
<!--            </form>-->

        </div>
    </div>
</div>

<script>
    function changePage(pageNumber) {
        window.location.href = `/s/mypage-complete-auction?page=${pageNumber}`;
    }

    // 송장번호등록을 위한 모달창에 해당 물품의 transactionId값 넣기
    function addNumber(transactionId){
        document.getElementById('hiddenId').value = transactionId;
    }

    let transaction_id=""
    // 구매자 신고를 위한 모달창에 해당 물품 구매자의 buyerId값 넣기
    function reportBuyer(transactionId){
        transaction_id = transactionId;
    }

    // 판매 확정하기
    function confirmSale(transactionId) {
        if (confirm('판매를 확정하시겠습니까?')) {
            fetch('/s/sellerStatus/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    transactionId: transactionId,
                    sellerStatus: 1
                })
            }).then(response => {
                if (response.ok) {
                    alert('판매가 확정되었습니다.');
                    location.reload();
                } else {
                    alert('판매 확정에 실패했습니다.');
                }
            });
        }
    }

    // 판매 취소하기
    function cancelSale(transactionId) {
        if (confirm('판매를 취소하시겠습니까? 낙찰이 완료된 상태에서 판매 취소시 양심온도가 하락됩니다')) {
            fetch('/s/transactionStatusForSeller/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    transactionId: transactionId,
                    transactionStatus: 1
                })
            }).then(response => {
                if (response.ok) {
                    alert('판매가 취소되었습니다.');
                    location.reload();
                } else {
                    alert('판매 취소에 실패했습니다.');
                }
            });
        }
    }

    // 신고하기
    async function report_buyer() {
        let reportContent = document.getElementById('reportContent').value;
        console.log(transaction_id);
        console.log(reportContent);

        let url = `/api/v1/report`;
        let response = await fetch(url, {
            method: 'Post',
            headers: {
                'Content-Type': 'application/json',
            },
            body : JSON.stringify({
                transactionId: transaction_id,
                reason : reportContent
            })
        })
        let responseData = await response.json();
        if (!responseData.success) {
            alert(responseData.msg);
        }else{
            window.location.href =`/s/mypage-complete-auction`;
        }

    }
</script>

{{>layout/footer}}
</body>
</html>
